<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JNDI Datasource -->
<!--        <property name="hibernate.connection.url">jdbc:mysql://192.168.3.148:3306/dbPAYMENTS</property>
<property name="hibernate.connection.username">mysql</property>
<property name="hibernate.connection.password">mysql123</property>-->
        <property name="hibernate.connection.datasource">jdbc/jeejdbcrecource</property>

        <!-- Specify dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL statements in the console (for debugging) -->
        <property name="hibernate.show_sql">true</property>

        <!-- Automatically update the database schema based on entity mappings -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.useSSL">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>


        <!-- Mention annotated classes or mappings here -->
             
        <mapping class="com.yourcompany.PersonEntity"/>
        <!-- Add mappings for other entity classes -->

    </session-factory>
</hibernate-configuration>
